@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50vw 1fr;
    gap: 10px;
    height: 100vh;
    overflow: hidden;
}

#password,
#email {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#email:focus,
#password:focus {
    outline: none;
    box-shadow: 0 0 5px #ee6551;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
}

.remember {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.left {
    width: 40vw;
    padding-left: 50px;
    padding-top: 50px;
}

.left .logo {
    margin-bottom: 100px;
}

.left h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.left p {
    margin-bottom: 50px;
}

.left .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #ee6551;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.right {
    height: 100vh;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: #ee6551;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
}

@media (max-width: 920px) {
    .container {
        display: flex;
    }

    .left {
        width: 100vw;
        padding: 50px;
        padding-top: 50px;
    }

    .left .button {
        width: 100%;
    }

    .right {
        display: none;
    }
}

@media (max-width: 420px) {
    .left .logo {
        margin-bottom: 20px;
    }

    .left h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .options {
        flex-direction: column;
        gap: 20px;
        font-size: 0.9rem;
    }

    .left p {
        font-size: 0.9rem;
    }

    #email,
    #password {
        height: 40px;
        font-size: 0.9rem;
    }

    .left .button {
        height: 40px;
        font-size: 0.9rem;
    }
}
